@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Montserrat;
}
.logo-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}
.logo-content img{
    width: 20vw;
    border-radius: 50%;
}
.header{
    text-align: center;
    margin: 0 auto;
}
h1 a{
    color: rgb(255, 223, 176);
}
h1 a:hover{
    color: #6969ec;
}
.header p{
    max-width: 85vw;
    text-align: center;
    margin: 1rem auto;
}

nav{
    padding-block: 0.15rem;
    background: rgb(255, 223, 176);
    margin-bottom: 0.5rem;
}

ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
li{
    list-style-type: none;
    padding: 1rem;
}
li a, h1 a{
    text-decoration: none;
}
li a{
    text-decoration: none;
    font-size: 0.7rem;
    color: #d58157;
    font-weight: 600;
}
li a:hover{
    background-color: aliceblue;
    color: #6969ec;
    padding: 1rem;
    border: 1px groove rgb(255, 223, 176);
    border-radius: 25px 0 25px 0;
}
li a:active{
    color: #6969ec;
}
#logo{
    flex: 1;
    user-select: none;
}
#logo a{
    font-size: 1.7rem;
    line-height: 0.05rem;
    background: none;
}
#logo a:hover{
    padding: 0;
}
 .toggleBar{
    display:none;
    word-spacing: 1rem;
}
.container-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}
section{
    display: grid;
    margin: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px groove rgb(255, 223, 176);
}
.article-header,.article1-content{
    margin-block: 1rem;
    font-size: 1.15rem;
}
.article-header{
    font-weight: 600;
}
.article1 img{
    width: 50vw;
}
.article2{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
}
.article2-sub img{
    width: 20vw;
}
section a, .date-temp-details a{
    color: rgb(227 169 84);
}
section a:hover{
    color:#6969ec
}
.date-temp-details a:hover{
    color:#6969ec
}
.special-section{
    display: grid;
    border: none;
    grid-template-columns: 2fr 1fr;
}
.date-temp-details{
    display: flex;
    justify-content: space-between;
    max-width: 36vw;
}
.article3{
    margin-bottom: 1rem;
}
.article3-content{
    max-width: 46vw;
    margin-block: 1rem;
}
.article3 h1{
    font-size: 2rem;
}
.article3 img{
    width: 60vw;
}
aside .recent-searches h3{
    margin-block: 1.5rem;
    border-bottom: 1px groove rgb(255, 223, 176);
}
.recent-searches p{
    padding: 1rem;
    border-bottom: 1px groove rgb(255, 223, 176);
}
.recent-searches a{
    text-decoration: none;
}
.about-us{
    margin-top: 1.5rem;
}
.about-us p{
    font-size: 1.3rem;
    margin-top: 1.5rem;
}
footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding-block: 1rem;
    background: rgb(255, 223, 176);
}
span,.more-info h4{
    color: #6969ec;
}
h5{
    padding-bottom: 1rem;
}
.footer-details a{
    text-decoration: underline;
}
footer{
    margin-top: 2rem;
    padding-block: 1rem;
}
.more-info p, h4,h5{
    font-size: 0.7rem;
}


@media screen and (max-width: 710px) {
    nav{
        padding: 0.2rem 0;
        padding-bottom: 0.5rem;
    }
    ul{
        flex-wrap: wrap;      
    }
    
    .toggleBar{
        display: block;
        letter-spacing: 0.25rem;
    }
    
    .nav-link{
        display: none;
        width: 100%;
        text-align: center;
    }
    .active{
        display: block;
    }
    footer{
        margin-top: 2rem;
        padding-block: 1rem;
    }
    .more-info p, h4,h5{
        font-size: 0.7rem;
    }
    .article-header, .article1-content {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 1300px) {
    section,.special-section{
        display: block;
    }
    .article1 img {
        width: 80vw;
    }
    .article2-sub img{
        width: 30vw;
    }
    .article2-sub{
        padding-top: 1.5rem;
    }
    .article3{
        width: 105%;
    }
    .article3 img {
        width: 84vw;
    }
    .article3-content {
        max-width: 80vw;
    }
    .date-temp-details {
        max-width: 84vw;
    }
    .date-temp-details p{
        padding: 0 1rem;
    }
}